In [11]:
import pandas as pd
from IPython.display import display

# Load the flight data from the CSV file
flight_data = pd.read_csv('mock_flight_data.csv')

# Display the first few rows of the dataset
print("Data Overview:")
display(flight_data.head())

Data Overview:

,id,first_name,last_name,email,gender,ip_address,flight_number,airline,origin,destination,departure_date,departure_time,arrival_date,arrival_time,gate,status
0,1,Mathilda,Elkins,melkins0@ed.gov,Female,191.112.51.107,6324,United,Enhe Hada,Lovran,28/06/2022,5:03 AM,2/23/2022,4:55 AM,B2,Delayed
1,2,Marie-jeanne,Runciman,mrunciman1@qq.com,Genderqueer,176.105.76.212,6129,Delta,Sergio Osmeña Sr,Xinzhou,17/06/2022,6:08 PM,1/26/2022,3:52 PM,B2,Cancelled
2,3,Anthiathia,Rozea,arozea2@upenn.edu,Female,179.254.64.84,7600,United,Aki,Licupis,25/06/2022,5:18 AM,7/7/2022,6:18 PM,A1,On Time
3,4,Gardy,Whatman,gwhatman3@microsoft.com,Male,168.223.73.35,7919,Delta,Imtarfa,Capulaan,22/06/2022,3:55 AM,4/2/2022,6:17 PM,B2,On Time
4,5,Sly,Tuma,stuma4@tamu.edu,Male,187.112.118.233,9066,Delta,Gorelovo,Río Ceballos,29/06/2022,12:32 PM,12/4/2022,2:42 PM,C3,Delayed

In [12]:
# Check the number of rows and columns in the dataset
print("\nData Shape:")
display(flight_data.shape)

Data Shape:

(1000, 16)

In [13]:
# Check data types and non-null counts for each field
print("\nData Information:")
display(flight_data.info())

Data Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              1000 non-null   int64
 1   first_name      1000 non-null   object
 2   last_name       1000 non-null   object
 3   email           1000 non-null   object
 4   gender          1000 non-null   object
 5   ip_address      1000 non-null   object
 6   flight_number   1000 non-null   int64
 7   airline         1000 non-null   object
 8   origin          1000 non-null   object
 9   destination     1000 non-null   object
 10  departure_date  1000 non-null   object
 11  departure_time  1000 non-null   object
 12  arrival_date    1000 non-null   object
 13  arrival_time    1000 non-null   object
 14  gate            1000 non-null   object
 15  status          1000 non-null   object
dtypes: int64(2), object(14)
memory usage: 125.1+ KB

None

In [14]:
# Summary statistics for numeric columns
print("\nSummary Statistics:")
display(flight_data.describe())

Summary Statistics:

                id  flight_number
count  1000.000000    1000.000000
mean    500.500000    5101.073000
std     288.819436    2833.838564
min       1.000000     108.000000
25%     250.750000    2633.000000
50%     500.500000    5125.000000
75%     750.250000    7549.000000
max    1000.000000    9997.000000

In [15]:
# Check for missing values in each column
print("\nMissing Values:")
display(flight_data.isnull().sum())

Missing Values:

id                0
first_name        0
last_name         0
email             0
gender            0
ip_address        0
flight_number     0
airline           0
origin            0
destination       0
departure_date    0
departure_time    0
arrival_date      0
arrival_time      0
gate              0
status            0
dtype: int64

In [18]:
# Flight airport information
airports = flight_data['origin'].append(flight_data['destination'].reset_index(drop=True))
display(airports.describe())

<ipython-input-18-717a33d82744>:2: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  airports = flight_data['origin'].append(flight_data['destination']).reset_index(drop=True)

count          2000
unique         1893
top       Stockholm
freq              5
dtype: object